*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #fff;
    background-color: #080808;
}

#header{
    height: 100vh;
}
.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container nav img{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    width: 0;
    bottom: -6px;
    text-decoration: none;
    transition: 0.3s;

}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about{
    padding: 80px 0px;
    height: 100vh;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    width: 0;
    bottom: -8px;
    text-decoration: none;
    transition: 0.3s;

}
.tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 30px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}