*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #fff;
    background-color: #080808;
}

html{
    scroll-behavior:smooth;   
}

/* ---------header-------- */

#header{
    width: 100%;
    overflow: hidden;
}

.container{
    padding: 10px 10%;    
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    
    height: 140px;
}

.btn{
    margin-top: 50px;
    margin-right: 0 ;
    width: fit-content;
    text-align: center;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #ff004f;
    transition: 0.5s ;
}
.btn:hover{
    background-color: #ff004f;
    color:#fff
}

.vl {
    position: fixed;
    margin: 84vh 70vw 0vw 3.3vw;

    border-left: 6px solid #ababab;
    height: 500px;
}

.icons{
    font-size: 24px;
}


.social-icons{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 50vh 90vw 0vh 3vw;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    color: #ababab;
    font-size: 25px;
    display: inline-block;
    transition: 0.2s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.rightnav{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 10vh 2vw 0vh 92vw;
}

.rightnav ul li{
    transform: rotateZ(90deg);
    list-style: none;
    margin: 15vh 0 0 0;
    text-align: center;
    padding: 20px 50px 20px 50px;
    transition: 0.3s;
}

.rightnav ul li a{
    color: #ababab;
    text-decoration: none;
    width:max-content;
    font-size: 18px;
    position: relative;
}

.rightnav ul li:hover{
    transform: scale(1.5) rotateZ(90deg); 
} 

.opnav::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    text-decoration: none;
    
    transition: 0.3s;
}

/*-- ---------- main section ---------- -- */

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    margin-top: 5%;
}

.main-pic{
    flex-basis: 25%;
}

.main-pic img{
    border-radius: 30px;
    margin-top: 30px;
    width: 400px;
}

.header-text{
    flex-basis: 60%;
    font-size: 20px;
}

.header-text h1{
    font-size: clamp(1px, 9vw, 50px);
    margin-top: 10px;
}

.header-text p{
    text-align: justify;
    margin-top:30px;
}

.header-text h1 span{
    color: #ff004f;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    margin-top: 30px;
    gap: 10px 10px;
    background: #262626;
    width: fit-content;
    padding: 5px 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
}

.skills-list li{
    margin-top:10px;
}

.skills-list li::before {
    content: "▹";
    line-height: 12px;
}



/* ---------portfolio-------- */

.fa-external-link-alt{  
    padding-bottom: 30px;
    font-size: 20px;
}

.fa-github{  
    padding-bottom: 30px;
    font-size: 20px;
}

.fa-linkedin{  
    padding-bottom: 30px;
    font-size: 20px;
}

.fa-instagram{  
    padding-bottom: 30px;
    font-size: 20px;
}

.fa-twitter-square{  
    padding-bottom: 30px;
    font-size: 20px;
}

.container-port{
    padding-top: 100px;

}

#portfolio{
    height: 220vh;
    overflow: hidden;
    padding: 30px 0;
}

a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}

.sub-title{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 150px;

}
.sub-title span{
    color: #ff004f;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    /* margin: 0 10vw 0 10vw; */
    align-items: center;
}

.work-odd{
    margin-bottom: 100px;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;    
}

.work-even{
    margin-bottom: 100px;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.work-odd img{
    position: absolute;
    border-radius: 10px;
    left: 40vw;
    right: 0vw;
    opacity: 50%;
    width: 40vw;
    scale: 0.8;
    background-color: #ff004f;
    z-index: 0;    
    transition: 0.5s;
}

.work-odd img:hover{
    opacity: 100%;
}

.work-even img{
    position: absolute;
    border-radius: 10px;
    left: 20vw;
    right: 0vw;
    opacity: 50%;
    width: 40vw;
    background-color: #ff004f;
    z-index: 0;
    scale: 0.8;
    transition: 0.5s;
}

.work-even img:hover{
    opacity: 100%;
}

.layer-odd{
    width: 25vw;
    margin-left: 14vw;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: start;
    font-size: 14px;
    transition: 0.5s;
}

.pro{
    color: #ff004f;
}

.layer-even{
    width: 25vw;
    margin-right: 14vw;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: end;
    font-size: 14px;
    transition: 0.5s;
}

.layer-even p{
    border-radius: 4px;
    background:#262626;
    padding: 25px;
}

.layer-odd p{
    background: #262626;
    border-radius: 4px;
    padding: 25px;
}

.work-list-title{
    font-size: 30px;
    font: weight 900px;
    padding: 0;
    padding-bottom: 20px;
} 

.para{
    font-size: 18px;
}

.tech-odd{
    display: flex;
    justify-content: start;
    font-size: 16px;
}

.tech-even{
    display: flex;
    justify-content: end;
    font-size: 16px;
}

.tech-odd span{
    padding: 20px 5px 0 5px;
}

.tech-even span{
    padding: 20px 5px 0 5px;
}

.open-link-work{  
    color: #ff004f; 
    text-decoration: none;
    height: 60px;
    width: 60px;
    transition: 0.5s;
    font-size: 18px;
    text-align: center;
}

.open-link-work i{
    display: block;
    font-size: 20px;
}

.link-odd{
    display: flex;
    justify-content: start;
    height: 60px;
}

.link-even{
    display: flex;
    justify-content: end;
}

/*-- ---------- contact ---------- --*/

#contact{
    padding: 15vh 0 5vh 0;
    height: 100vh;
}

.contact-title{
    width: 100%;
    margin-top: 5vh;
    text-align: center;
    font-size: 50px;
}

.contact-title span{
    color: #ff004f;
}

.contact-info{
    text-align: center;
    margin:5vh 10vw 0 10vw;
    padding-top: 5vh;
    border-radius: 50px;
}

.contact-info p{ 
    padding: 5vh 10vw 0 10vw ;
    font-size: 20px;
}

.mail-link{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.get-touch{
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.btn2{
    margin: 50px 0 50px 0;
}

.social{
    display: flex;
    align-items: center;
    position: relative;
    justify-content:center;
}

.arrow{
    position: absolute;
    scale: 0.5;
    /* rotate: -10deg; */
    margin-right: 500px;
    margin-top: 0vh;
}

.social p{
    font-family: 'Comic Neue', cursive;
    margin-top: 20px;
    font-size: 22px;
}

.fa-paper-plane{
    margin-bottom: 0;
    font-size: 20px;
    color: #ff004f;
    margin-right: 10px;
}

.fa-paper-plane:hover{
    color: #fff;

}

/*-- ---------- mobile-responsiveness----------- --*/
@media(max-width: 430px) {
    #header{
        height: 200vh;
        margin-top: 0vh;
        padding-top: 5vh;
    }

    .container{
        padding: 0vh 5vw;    
    }
    .nav-bar{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 15vh;
    }
    
    .logo{
        height: 100px;
    }
    
    .btn{
        margin-top: 3vh;
        margin-right: 0 ;
        margin-bottom: 5px;
        width: fit-content;
        text-align: center;
        padding: 10px 30px;
        border-radius: 10px;
        text-decoration: none;
        border: 1px solid #ff004f;
        transition: 0.5s ;
    }
    .btn:hover{
        background-color: #ff004f;
        color:#fff
    }
    

    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0vh;
    }

    .main-pic{
        flex-basis: 100%;
        margin-top: 3vh;
        height: 30vh;
    }
    .main-pic img{
        background: url(main-mob.png) no-repeat;
        background-size: 30vh;
        background-position: center;
        border-radius: 50%;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 0;
        width: 60vw;
        height: 30vh;
        top: 90px;
        right: 5vw;
        padding-left:60vw;
    }
    
    .header-text{
        text-align: center;
        flex-basis: 100%;
        margin-top: 2vh;
        height: 145vh;
        /* font-size: 20px; */
    }
    
    .header-text h1{
        width: 100%;
        font-size: 10vw;
        height:37vh;
        margin-top: 0;
        padding-top: 0vh;
        padding-bottom: 5vh;
    }
    
    .header-text p{
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
        margin-top:5vh;
        margin-bottom: 20px;
        font-size: 15pt;
    }
    #web-deve{
        text-align: center;
        font-size: 6vw;
        margin-left: 0;
        padding-left: 0;
    }
    
    .header-text h1 span::before{
        content: "\a";
        white-space: pre;
    }
    .header-text h1 span{
        color: #ff004f;
    }
    
    #inform{
        height: 40vh;
    }
    #inform{
        height: 40vh;
    }
    
    .skills-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 250px));
        margin-top: 5vh;
        gap: 0px 10px;
        background: #262626;
        width: fit-content;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        list-style: none;
    }
    
    .skills-list li{
        text-align: start;
        margin-left: 1vh;
        margin-top:2vh;
        margin-bottom: 2vh;
    }
    
    .skills-list li::before {
        content: "▹";
        line-height: 12px;
    }

    .social-icons{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 13vw;
        width: 100vw;
        margin: 80vh 0vw 0vh 0vw;
    }

    .social-icons a{
        text-align: center;
        color:white;
        margin: 0;
    }
    .social-icons a i{
        font-size: 4vh;
    }

    .vl{
        margin-left: 0;
        margin-top: 0;
        border-left: 0px solid transparent;
        height: 0;
    }
    #portfolio{
        height: 250vh;
    }
    .sub-title{
        height: 20vh;
        margin-bottom: 0;
    }
    .work-odd{
        height: 73vh;
        overflow: hidden;
        display: flex;
        justify-content:start;
        flex-direction: column; 
        align-items: center;   
        margin-bottom: 0;
    }

    .work-even{
        height: 73vh;
        overflow: hidden;
        display: flex;
        justify-content: start;
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 0;  
    }


    .work-odd img{
        position:relative;
        border-radius: 10px;
        left: 0vw;
        right: 0vw;
        opacity: 100%;
        width: 100vw;
        scale: 0.8;
        background-color: #ff004f;
        z-index: 0;    
        transition: 0.5s;
    }
    
    .layer-odd{
        height: 60vh;
        width: 80vw;
        margin-left: 0vw;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        text-align: start;
        font-size: 14px;
        transition: 0.5s;
    }
    .work-even img{
        position:relative;
        border-radius: 10px;
        left: 0vw;
        right: 0vw;
        opacity: 100%;
        width: 100vw;
        scale: 0.8;
        background-color: #ff004f;
        z-index: 0;    
        transition: 0.5s;
    }
    
    .layer-even{
        height: 60vh;
        width: 80vw;
        margin-left: 0vw;
        margin-right: 0vw;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: start;
        font-size: 14px;
        transition: 0.5s;
    }

    #contact{
        padding: 0;
        height: 100vh;
    }
    .contact-info{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-title{
        width: 100%;
        margin-top: 0vh;
        text-align: center;
        font-size: 50px;
    }
    
    .contact-info{
        text-align: center;
        margin:0vh 10vw 0 10vw;
        padding-top: 5vh;
        border-radius: 50px;
    }
    
    .contact-info p{ 
        padding: 5vh 10vw 0 10vw ;
        font-size: 20px;
    }
    
    .mail-link{
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
    }
    
    .btn2{
        margin: 50px 0 50px 0;
    }
        
    .arrow{
        position: absolute;
        scale: 0;
        /* rotate: -10deg; */
        margin-right: 500px;
        margin-top: 0vh;
    }
    .social{
        height: 0;
    }
    .social p{
        font-family: 'Comic Neue', cursive;
        margin-top: 20px;
        font-size: 0;
    }
    
    .fa-paper-plane{
        margin-bottom: 0;
        font-size: 20px;
        color: #ff004f;
        margin-right: 10px;
    }
    
}
