*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #fff;
    background-color: #080808;
}
html{
    scroll-behavior:smooth;   
}
/* ---------header-------- */

#header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container{
    padding: 10px 10%;    
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    
    height: 140px;
}

.btn{
    margin-top: 50px;
    margin-right: 0 ;
    width: fit-content;
    text-align: center;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #ff004f;
    transition: 0.5s ;
}
.btn:hover{
    background-color: #ff004f;
    color:#fff
}
.vl {
    margin-left: 6px;
    border-left: 6px solid #ababab;
    height: 500px;
  }
.icons{
    font-size: 24px;
}

.social-icons{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 50vh 90vw 0vh 3vw;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    color: #ababab;
    font-size: 25px;
    display: inline-block;
    transition: 0.2s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.rightnav{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 10vh 2vw 0vh 92vw;
}

.rightnav ul li{
    transform: rotateZ(90deg);
    list-style: none;
    margin: 15vh 0 0 0;
    text-align: center;
    padding: 20px 50px 20px 50px;
    transition: 0.3s;
}

.rightnav ul li a{
    color: #ababab;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

/* .rightnav ul li a::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    width: 0;
    bottom: -6px;
    text-decoration: none;
    transition: 0.3s;
}
*/
.rightnav ul li:hover{
    transform: scale(1.5) rotateZ(90deg); 
} 
.opnav::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    text-decoration: none;
    
    transition: 0.3s;
}

/*-- ---------- main section ---------- -- */

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    margin-top: 5%;
}

.main-pic{
    flex-basis: 25%;
}

.main-pic img{
    border-radius: 30px;
    margin-top: 30px;
    width: 400px;
}

.header-text{
    flex-basis: 60%;
    font-size: 20px;
}

.header-text h1{
    font-size: clamp(1px, 9vw, 50px);
    margin-top: 10px;
}
.header-text p{
    text-align: justify;
    margin-top:30px;
}

.header-text h1 span{
    color: #ff004f;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    margin-top: 30px;
    gap: 10px 10px;
    background: #262626;
    width: fit-content;
    padding: 5px 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
}
.skills-list li{
    margin-top:10px;
}
.skills-list li::before {
    content: "▹";
    line-height: 12px;
}
/* ---------about-------- */

/* .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about{
    padding: 50px 0px;
    height: 100vh;
}

.about-col-1{
    flex-basis: 35%;
}

.main-pic{
    width: 60%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    width: 0;
    bottom: -8px;
    text-decoration: none;
    transition: 0.3s;
}
.tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 30px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-contents{display: none;}

.active-tab{
    display: block;
} */

/* ---------services-------- */

#services{
    padding: 50px 0px;
    height: 100vh;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    padding-bottom: 10px;
}
/* i{  
    margin-bottom: 30px;
    font-size: 40px;
} */
.services-list div{
    background: #262626;
    padding: 40px;
    border-radius: 10px;
    transition: 0.5s;
}

.services-list div:hover{
    background: #ff004f;
    transform: translate(5px, -10px);
   }

a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}

/* ---------portfolio-------- */

#portfolio{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    align-items: center;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.work img:hover{
    transform: scale(1.1);
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    transition: 0.5s;
}
.work:hover .layer{
    height: 100%;
}

.work-list-title{
    font-size: 36px;
    font: weight 900px;
    padding: 0;
    padding-bottom: 20px;
} 
.para{
    font-size: 24px;
    padding-bottom: 20px;
    font: weight 600px;
}
.open-link-work{
    color: #ff004f; 
    background: #fff;
    text-decoration: none;
    line-height: 60px;
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 50%;
    transition: 0.5s;
    font-size: 18px;
    text-align: center;
}
.open-link:hover{
    color: white; 
    background: #ff004f; 
}

.open-link-work i{
    display: block;
    margin-top: 10px;
}


/*-- ---------- contact ---------- --*/
#contact{
    padding: 5vh 0 5vh 0;
    height: 100vh;
}
.contact-title{
    width: 100%;
    margin-top: 5vh;
    text-align: center;
    font-size: 50px;
}
.contact-title span{
    color: #ff004f;
}

.contact-info{
    text-align: center;
    margin:5vh 10vw 0 10vw;
    padding-top: 5vh;
    /* background:#262626; */
    border-radius: 50px;
}
.contact-info p{
    
    padding: 5vh 10vw 0 10vw ;
    font-size: 20px;
}
.mail-link{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.get-touch{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.btn2{
    margin: 50px 0 50px 0;
}

.social{
    display: flex;
    align-items: center;
    position: relative;
    justify-content:center;
}
.arrow{
    position: absolute;
    scale: 0.5;
    rotate: -10deg;
    margin-right: 28vw;
    margin-top: 5vh;
}
.social p{
    margin-top: 20px;
    font-size: 20px;
}

/* .contact-info p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 40px;
} */
.fa-paper-plane{
    margin-bottom: 0;
    font-size: 20px;
    color: #ff004f;
    margin-right: 10px;
}
.fa-paper-plane:hover{
    color: #fff;

}
/* .form-name{
    display:flex;
    width: fit-content;
    gap: 20px;
}
.contact-info form{
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contact-info form input, form textarea{
    border-radius: 5px;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;

} */

/* .copyright{
    background: #262626;
    width:100vw;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 400;
    margin-bottom: 0;
} */